<!-- Start Contact Section -->
<section class="contact no-padding-bottom bg-light-gray" data-scroll-index="6">
  <div class="container margin-100px-bottom md-margin-70px-bottom sm-margin-50px-bottom">
    <div class="row">
      <div class="col-12 center-col margin-70px-bottom sm-margin-40px-bottom xs-margin-30px-bottom text-center">
        <h3 class="font-weight-700 font-size32 md-font-size27 sm-font-size24 xs-font-size20 section-title">
          <%= t("contact.heading") %>
        </h3>
      </div>
    </div>
    <div class="row">
      <div class="col-12 d-flex justify-content-center">
        <a href="#" class="btn white">
          <%= t("contact.cta") %>
        </a>
      </div>
    </div>
  </div>

  <div class="padding-30px-tb border-top border-color-medium-gray">
    <div class="container">
      <div class="row info">

        <!-- start quickly contact -->

        <div class="col-lg-4 col-md-3 item text-center border-right xs-no-border-right xs-border-bottom border-color-medium-gray xs-margin-20px-bottom xs-padding-20px-bottom">
          <span class="icon font-size32"><i class="icon-phone"></i></span>
          <div class="cont">
            <h6><%= t("contact.phone") %></h6>
            <p>(+44) 123 456 789</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-5 item text-center border-right xs-no-border-right xs-border-bottom border-color-medium-gray xs-margin-20px-bottom xs-padding-20px-bottom">
          <span class="icon font-size32"><i class="icon-map"></i></span>
          <div class="cont">
            <h6><%= t("contact.address") %></h6>
            <p>3389 Eglinton Avenue, London</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 item text-center">
          <span class="icon font-size32"><i class="icon-envelope"></i></span>
          <div class="cont">
            <h6><%= t("contact.email") %></h6>
            <p>email@youradress.com</p>
          </div>
        </div>

      </div>
      <!-- end quickly contact -->
    </div>
  </div>

</section>
<!-- End Contact Section -->