<!-- Start Blog Section -->
<div id="courses"></div>
<section class="blog" data-scroll-index="5" style="background-color: #2c3640">
  <div class="container">
    <div class="row">
      <div class="col-12 center-col margin-70px-bottom sm-margin-40px-bottom xs-margin-30px-bottom text-center">
        <h3 class="text-white font-weight-700 font-size32 md-font-size27 sm-font-size24 xs-font-size20 section-title">
          <%= t("courses.heading") %>
        </h3>
      </div>
    </div>
    <div class="row">
      <% @courses.each do |course| %>
      <div class="col-lg-6 my-4 sm-margin-20px-bottom course-card">
        <div class="item text-center">
          <div class="post-img">
            <%= image_tag(course.image.image_url) %>
          </div>
          <div class="content">
            <h3 class="margin-15px-bottom">
              <%= course.title %>
            </h3>
            <div class="tag alt-font font-weight-300">
              <%= t("courses.type", type: course.type) %> de
              <span class="font-size12">
                <%= t("courses.n_hours", count: course.duration) %> <%= course.type_availability.downcase %><br>
                <%= t("courses.n_publics", count: course.publics.size) %> : <%= course.publics.to_sentence %>
              </span>
            </div>
            <p><%= course.description %></p>
            <div>
              <% course.topics.each do |topic| %>
                <span class="badge badge-pill-info"><%= topic %></span>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <% end %>
      <div class="report text-center mx-auto mt-5">
        <a class="btn white mt-3 btn-lg" href="#contact">
          <%= t("courses.cta") %>
          <i class="fas fa-arrow-right font-size15 margin-5px-left"></i>
        </a>
      </div>
    </div>
  </div>
</section>
<!-- End Blog Section -->