<!-- Start Timeline Section-->
<div id="experience"></div>
<section class="bg-light-gray resume" data-scroll-index="2">
  <div class="container">
    <div class="row">
      <div class="col-12 center-col margin-70px-bottom sm-margin-40px-bottom xs-margin-30px-bottom text-center">
        <h3 class="font-weight-700 font-size32 md-font-size27 sm-font-size24 xs-font-size20 section-title">
          <%= t("resume.heading_html", years: DateTime.current.year - 2013) %>
        </h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="main-timeline">
          <% I18n.t("resume.timeframes").each do |timeframe| %>
          <!-- start experience section-->
          <div class="timeline">
            <div class="icon"></div>
            <div class="date-content">
              <div class="date-outer">
                <span class="date">
                  <span class="month">
                    <%= t("resume.n_years", count: timeframe[:spent_years]) %>
                  </span>
                  <span class="year"><%= timeframe[:year] %></span>
                </span>
              </div>
            </div>
            <div class="timeline-content">
              <h5 class="title">
                <%= timeframe[:heading] %>
              </h5>
              <div class="badges mb-3">
                <% if timeframe[:principal] %>
                  <span class="badge badge-pill-info">
                    <%= t("resume.principal") %>
                  </span> 
                <% end %>
                <% if timeframe[:still_in_office] %>
                  <span class="badge badge-pill-info">
                    <%= t("resume.still_in_office") %>
                  </span> 
                <% end %>
              </div>
              <p class="description">
                <%= timeframe[:body] %>
              </p>
            </div>
          </div>
          <!-- end experience section-->
          <% end %>
        </div>
      </div>
      <div class="clients">
        <h3 class="font-weight-700 font-size32 md-font-size27 sm-font-size24 xs-font-size20 section-title">
          <%= t("resume.clients_heading") %>
        </h3>
        <div class="container">
          <div class="row">
            <div class="col-lg-4 paris-rb">
              <img src="<%= image_url('clients/parisrb.png') %>" alt="">
            </div>
            <div class="col-lg-4 microsoft">
              <img src="<%= image_url('clients/Microsoft.png') %>" alt="">
            </div>
            <div class="col-lg-4 futur-is-art">
              <img src="<%= image_url('clients/futurisart.png') %>" alt="">
            </div>
          </div>
        </div>
      </div>
      
      <div class="d-flex justify-content-center mt-5 mx-auto">
        <a class="btn white mt-5 btn-lg" href="#contact">
          <%= t("resume.cta") %>
          <i class="fas fa-arrow-right font-size15 margin-5px-left"></i>
        </a>
      </div>
    </div>
  </div>
</section>
<!-- End Timeline Section-->