<!--  Start Services Section -->
<div id="topics"></div>
<section class="services" data-scroll-index="4">
  <div class="container">
    <div class="row">
      <div class="col-12 center-col margin-70px-bottom sm-margin-40px-bottom xs-margin-30px-bottom text-center">
        <h3 class="font-weight-700 font-size32 md-font-size27 sm-font-size24 xs-font-size20 section-title">
          <%= t("topics.heading") %>        
        </h3>
      </div>
    </div>
    <div class="row">

      <!-- start services item -->
      <div class="col-lg-6 col-md-6 border-right border-bottom border-color-medium-gray xs-no-border-right">
        <div class="text-center padding-40px-tb xs-padding-20px-bottom padding-20px-lr xs-no-padding-lr xs-no-padding-top">
          <div class="display-inline-block margin-20px-bottom xs-margin-15px-bottom"><i class="icon icon-tools text-extra-dark-gray font-size36"></i></div>
          <div class="alt-font text-extra-dark-gray margin-10px-bottom font-size18 xs-font-size16">
            <%= t("topics.top_left.heading") %>
          </div>
          <p class="width-85 md-width-90 xs-width-100 center-col no-margin-bottom">
            <%= t("topics.top_left.body") %>
          </p>
        </div>
      </div>
      <!-- end services item -->

      <!-- start services item -->
      <div class="col-lg-6 col-md-6 border-bottom border-color-medium-gray sm-no-border-right">
        <div class="text-center padding-40px-tb xs-padding-20px-tb padding-20px-lr xs-no-padding-lr">
          <div class="display-inline-block margin-20px-bottom xs-margin-15px-bottom"><i class="icon icon-gears text-extra-dark-gray font-size36"></i></div>
          <div class="alt-font text-extra-dark-gray margin-10px-bottom font-size18 xs-font-size16">
            <%= t("topics.top_right.heading") %>
          </div>
          <p class="width-85 md-width-90 xs-width-100 center-col no-margin-bottom"> 
            <%= t("topics.top_right.body") %>
          </p>
        </div>
      </div>
      <!-- end services item -->

      <!-- start services item -->
      <div class="col-lg-6 col-md-6 border-right border-color-medium-gray xs-no-border-right">
        <div class="text-center padding-40px-tb xs-padding-20px-bottom padding-20px-lr xs-no-padding-lr xs-no-padding-top">
          <div class="display-inline-block margin-20px-bottom xs-margin-15px-bottom"><i class="icon icon-tools text-extra-dark-gray font-size36"></i></div>
          <div class="alt-font text-extra-dark-gray margin-10px-bottom font-size18 xs-font-size16">
            <%= t("topics.bottom_left.heading") %>
          </div>
          <p class="width-85 md-width-90 xs-width-100 center-col no-margin-bottom">
            <%= t("topics.bottom_left.body") %>
          </p>
        </div>
      </div>
      <!-- end services item -->

      <!-- start services item -->
      <div class="col-lg-6 col-md-6 border-color-medium-gray sm-no-border-right">
        <div class="text-center padding-40px-tb xs-padding-20px-tb padding-20px-lr xs-no-padding-lr">
          <div class="display-inline-block margin-20px-bottom xs-margin-15px-bottom"><i class="icon icon-gears text-extra-dark-gray font-size36"></i></div>
          <div class="alt-font text-extra-dark-gray margin-10px-bottom font-size18 xs-font-size16">
            <%= t("topics.bottom_right.heading") %>
          </div>
          <p class="width-85 md-width-90 xs-width-100 center-col no-margin-bottom">
            <%= t("topics.bottom_right.body") %>
          </p>
        </div>
      </div>
      <!-- end services item -->
    </div>
  </div>
</section>
<!-- End Services Section -->