<header class="header" data-scroll-index="0">
  <!-- Start Navbar -->
  <nav class="navbar navbar-expand-lg border-none bg-transparent">
    <div class="container sm-padding-10px-tb sm-padding-15px-lr">

      <!-- start logo -->
      <%= link_to root_path, class: "logo" do %>
        <img src="<%= image_url "logo-white.png" %>" alt="Logo pour le site de Anthony Amar - professeur et conférencier">
      <% end %>
      <!-- end Logo -->

      <button id="toggler" class="navbar-toggler" type="button">
        <span class="icon-bar"><i class="fas fa-bars"></i></span>
      </button>

      <!-- navbar links -->
      <div class="collapse navbar-collapse" id="navbarContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="#about">
              <%= t("header.about") %>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#experience">
              <%= t("header.experience") %>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#topics">
              <%= t("header.topics") %>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#courses">
              <%= t("header.courses") %>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#testimonials">
              <%= t("header.testimonials") %>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contact">
              <%= t("header.contact") %>
            </a>
          </li>
          <li class="nav-item">
            <%= link_to root_path(locale: :fr), class: "nav-link" do %>
              <img src="<%= image_url "flags/fr.png" %>" alt="" width="20">
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to root_path(locale: :en), class: "nav-link" do %>
              <img src="<%= image_url "flags/uk.png" %>" alt="" width="20">
            <% end %>
          </li>
        </ul>
      </div>
      <!-- end navbar links -->

    </div>
  </nav>
</header>
<!-- End Header -->

<script>
  var toggler = document.getElementById("toggler");
  var navbar = document.getElementById("navbarContent");
  
  toggler.onclick = function(){
    navbar.classList.toggle("show");
  };
</script>